*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}
:root{
	--height-menu:60px;
}
html{
	scroll-behavior:smooth;
}

body{
	background-color:#fff;
	min-height:100vh;
	font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

footer{
	background-color:#000;
	color:#ffffff;
	text-align:center;
	padding: 10px;
}

h3{
	text-align:center;
	padding:5px;
}
p{
	text-justify:inter-word;
	padding:20px;
}

a{
	text-decoration:none;
}

.nav{
	position:sticky;
	width:100%;
}
.nav > ul{
	display:flex;
	text-align:center;
	height:var(--height-menu);
	box-shadow:0px 1px 2px 1px rgba(0,0,0,0.3);
}
.nav ul{
	list-style-type:none;
}
.nav>ul>li{
	position:relative;
	flex:1;
	height:100%;
	background-color:black;
	text-transform:uppercase;
}

.nav>ul>li>a{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.main_menu>a:after{
	content:'►';
	display:inline-block;
}

.details_menu{
	background-color:black;
	margin-top:var(--height-menu);
	width:100%;
	align-items:center;
	text-align:left;
	overflow:hidden;
	max-height:0;
}

.details_menu>li>a{
	align-items:center;
	display:flex;
	height:50px;
	width:100%;
	padding-left:20px;
}

@keyframes rotationfleche{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(90deg);
	}
}

@keyframes apparitiondetails{
	0%{
		box-shadow:0px 3px 3px 1px rgba(0,0,0,0);
	}
	100%{
		max-height:50em;
		box-shadow:0px 3px 3px 1px rgba(0,0,0,0.3);
	}
}

.main_menu:hover>a:after{
	animation:rotationfleche 0.2s linear forwards;
}

.main_menu:hover > .details_menu{
	animation:apparitiondetails 1s forwards;
}

header a{
	color:#ffffff;
}
.nav li a:hover{
	color:#ff8c19;
}

.nav input{
	width:40px;
	height:40px;
	cursor:pointer;
}
.core{
	padding-left:200px;
	padding-right:200px;
}
.container_img{
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:space-around;
	background-color:#dcdcdc;
	width:400px;
	height:400px;
	overflow:hidden;
}

.container_img img{
	width:400px;
	height:400px;
	transition:transform .5s ease;
}
.core a{
	text-align:center;
	color:black;
}

.core a:hover .fleche{
	color:#ff8c19;
}
.fleche{
	display:inline-block;
}
.core a:hover img{
	transform:scale(1.1);
}

h3 a{
	color:#000;
}

.core{
	display:flex;
	flex-direction:line;
	justify-content:space-around;
}
section.banner_home{
	position:relative;
	color:#ffffff;
}

section.banner_home:before{
	position:absolute;
	opacity:0.7;
	content:' ';
	display:block;
	width:100%;
	height:100%;
	background-image:url('./img/banner.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

.banner_content{
	position:relative;
	background:black;
	width:450px;
	height:100px;
	transform:skew(20deg);
}

.banner_text h1{
	padding:30px;
	text-align:left;
	transform:skew(-20deg);
}

.blank{
	padding:20px;
}